# Compilação e binários gerados
build/
DerivedData/
scratch/


# Arquivos do sistema macOS
.DS_Store
*.swp
*~

# Configurações de usuário do Xcode
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserdatad/

# Icones
Lumos.icon
Lumos*.icns
